<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div style="margin-top: 40px" class="content">

  <div class="container">
    <h2 class="mb-5">Completed Tasks</h2>

    <div class="table-responsive">

      <table class="table custom-table">
        <thead>
        <tr style="color: red">
          <th scope="col">Id</th>
          <th scope="col">Task</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
        </tr>
        </thead>
        <tbody th:each="task : ${tasks}">
        <tr scope="row">

          <td th:text="${task.getId()}">1392</td>
          <td th:text="${task.getTask()}">James Yates</td>
          <td th:text="${task.getEmployee().getUser().getFirstName()}">Web Designer</td>
          <td th:text="${task.getEmployee().getUser().getLastName()}">+63 983 0962 971</td>
        </tr>

        </tbody>
      </table>
    </div>
    <a class="btn btn-danger" href="/employee" role="button">Back</a>
  </div>
</div>
</body>
</html>