<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
<form style="margin-top: 100px" th:method="POST" th:action="@{/manager/give}" th:object="${task}">

    <h1>Give Task To Employee</h1>
    <div class="formcontainer">
        <hr/>
        <div class="container">

            <label for="task"><strong>Task</strong></label>
            <input type="text" placeholder="Enter Task" name="task" id="task" th:field="*{task.task}" required>

            <label for="firstName">
                <strong>Employee</strong>
                <select th:field="*{employee.id}">
                    <option value="">Choose employee</option>
                    <option th:each="worker : ${employees}" id="firstName" th:value="${worker.id}" th:text="${worker.user.firstName + ' ' + worker.user.lastName}"></option>
                </select>
            </label>

        </div>
        <button type="submit">Give Task</button>
    </div>
</form>
</body>
</html>