<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
<form th:method="PUT" th:action="@{/director/updatePersonalData/{id}(id=${workerData.getId()})}" th:object="${workerData}">

    <h1>Update Worker</h1>
    <div class="formcontainer">
        <hr/>
        <div class="container">

            <label for="firstName"><strong>First Name</strong></label>
            <input type="text" placeholder="Enter First Name" name="firstName" id="firstName" th:field="*{firstName}" required>

            <label for="lastName"><strong>Last Name</strong></label>
            <input type="text" placeholder="Enter Last Name" name="lastName" id="lastName" th:field="*{lastName}" required>

            <label for="birhtdate"><strong>Date Of Birth</strong></label>
            <input type="date" placeholder="Enter Date Of Birth" name="birhtdate" id="birhtdate" th:field="*{birhtdate}" required>

        </div>
        <button type="submit">Update</button>
    </div>
</form>

</body>
</html>