<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Workers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div style="margin-top: 40px" class="content">

  <div class="container">
    <h2 class="mb-5">Workers</h2>

    <div class="table-responsive">

      <table class="table custom-table">
        <thead>
        <tr style="color: red">
          <th scope="col" style="color: red">Id</th>
          <th scope="col" style="color: red">Name</th>
          <th scope="col" style="color: red">Last Name</th>
          <th scope="col" style="color: red">Birthday</th>
          <th scope="col" style="color: red">Salary</th>
          <th scope="col" style="color: red">Position</th>
          <th scope="col" style="color: red">Hire Date</th>
        </tr>
        </thead>
        <tbody th:each="worker : ${workers}">
        <tr scope="row">

          <td th:text="${worker.getId()}">1392</td>
          <td th:text="${worker.getUser().getFirstName()}">James Yates</td>
          <td th:text="${worker.getUser().getLastName()}">Web Designer</td>
          <td th:text="${worker.getUser().getBirhtdate()}">+63 983 0962 971</td>
          <td th:text="${worker.getSalary()}">NY University</td>
          <td th:text="${worker.getPosition().getPosition()}"></td>
          <td th:text="${worker.getHireDate()}"></td>
        </tr>

        </tbody>
      </table>
    </div>
    <a class="btn btn-danger" href="/employee" role="button">Back</a>
  </div>
</div>

</body>
</html>