<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <title>Login</title>
</head>
<body>
  <form style="margin-top: 100px" th:method="POST" action="/auth/check">
        <h1>Login Form</h1>
        <div class="formcontainer">
            <hr/>
              <div class="container">
                <label for="login"><strong>Login</strong></label>
                <input type="text" placeholder="Enter Login" name="login" id="login" required>
                <label for="password"><strong>Password</strong></label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required>
              </div>
            <button type="submit">Login</button>
        </div>
  </form>
</body>
</html>